version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - frontend_cache:/app/cache
    restart: unless-stopped

volumes:
  frontend_cache:
